.controller {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  bottom: -30.7rem;
  width: 100%;
}

.controller__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  border: 2px solid black;
  border-radius: 50%;
  background: linear-gradient(25deg, rgb(7, 51, 7), rgb(30, 30, 30));
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  z-index: 1;
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: scale(1.1);
  }

  &:nth-child(2) {
    margin: 0 3.75rem;
  }

}




// .controller__button:nth-child(2) {
//   margin: 0 3.75rem;
// }

.controller__button--active {
  background-color: white;
  color: rgb(235, 245, 235);
  border: 0.1875rem solid rgb(0, 119, 12);
  outline: 0.125rem solid rgb(7, 51, 7)
}

.controller__line {
  background-color: black;
  width: 50%;
  height: 2px;
  position: absolute;
}