.main {
  height: 80vh;
  max-width: 100%;
  background: linear-gradient(-45deg, #0e110f, #132e15, #103512, #01200b);
  background-size: 400% 400%;
  position: relative;

  animation: backgroundTransition 8s ease-in-out infinite;

//   &::before,&::after {
//       content: '';
//       position: absolute;
//       left: 0;
//   }
//   &::before {
//       clip-path: polygon(100% 33%, 0% 100%, 100% 100%);
//       background:linear-gradient(45deg,rgba(5, 112, 10, 0.085),rgba(62, 7, 189, 0.126));
//       width: 100%;
//       height: 100%;
// }
}

.main__container {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.main__content {
  margin-left: 3.445rem;
}

.text {
  font-family: 'League Spartan';
  line-height: 55px;
  p {
      color: rgb(96, 122, 107);
      text-transform: uppercase;
      font-size: 22px;
  }

  h1 {
      display: inline;
      font-size: 50px;
      text-transform: uppercase;
      color:darkseagreen;
      white-space: nowrap;
  }

}

.icons {
  display: flex;
  box-icon {
      margin-top: 1rem;
      margin-right: 1.4rem;
      font-size: 35px;
      cursor: pointer;
      color: darkseagreen;
  }
}

.main__img {
  height: 100%;
  display: flex;
  //clip-path: circle(45% at 50% 49%);
  cursor: pointer;

  
  img {
      height: 100%;
      display: flex;
     // background:linear-gradient(45deg,rgb(7, 51, 7),rgb(30, 30, 30));
  }
}

.buttons {

  button {
      padding: 15px 40px;
      margin-top: 2rem;
      margin-right: 1rem;
      background: linear-gradient(25deg,rgba(7, 51, 7, 0.753),rgb(30, 30, 30));
      color: #fff;
      border: 1px solid #fff;
      cursor: pointer;
      border-radius: 5px;
      text-transform: uppercase;
      font-weight: bolder;
      a {
          text-decoration: none;
          color: #fff;
      }
  }
}

.main__container.active {
  background: red;
}

@keyframes backgroundTransition {
    0% {
        background-position: 0% 80%;
    }
    50% {
        background-position: 80% 100%;
    }
    100% {
        background-position: 0% 90%;

    }
}

@media (max-width:1200px) 
{
  

  .text {
      white-space: nowrap;
      line-height: 30px;
      p {
          font-size: 14px;
      }
  
      h1 {
          font-size: 30px;
      }
  
  }


  .buttons button {
      padding: 8px 20px;
  }
  .icons {
      margin-right: 1rem;
      .icon {
          font-size: 25px;
      }
  }


}

@media (max-width:600px) {

  .main__content {
      margin-left: 0;
  }

  .main__container {
      text-align: center;
      flex-direction: column-reverse;
      justify-content: center;
  }

  .main__img img {
      width: 250px;
  }

  .text {
      h1 {
          font-size: 23px;
      }
      p {
          color: #000;
          font-size: 11px;
      }
  }

  .icons{ 
      margin-left: 1.5rem;
  .icon {
      color: firebrick;
      
  }
}
}

