
.card {
  border: 0.5rem solid white;
  width: calc(100% / 3 - 8%);
  height: 70vh;
  position: relative;
  transition: filter .5s ease-in-out;
}

.s-card:nth-child(1) {
  transform: rotateY(0deg) translateZ(50vw);
}

.s-card:nth-child(2) {
  transform: rotateY(120deg) translateZ(50vw);
}

.s-card:nth-child(3) {
  transform: rotateY(240deg) translateZ(50vw);
}

.card__background {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  filter: blur(4px);
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.card__image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: relative;
  transition: 1s ease-in-out;
}

.card__title {
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  position: absolute;
  width: 100%;
  bottom: 0;
  transition: bottom 1s ease-in-out;
}

/* Hover Animation      */

.card--hovered .card__background {
  cursor: pointer;
  opacity: 0;
}

.card--hovered .card__image {
  transform: scale(1.4);
  filter: drop-shadow(30px 10px 4px rgba(0, 0, 0, .5));
}