.contact-form {
	padding: 0 3rem 0 3rem;
	display: flex;
	height: 80vh;
	margin-top: 0rem;
	padding-top: 2rem;
}
.c-right {
	display: flex;
	justify-content: center;
	position: relative;
	flex: 1;
	& > form {
		display: flex;
		flex-direction: column;
		gap: 2rem;
		align-items: center;
	}
	.user {
		width: 20rem;
		height: 2rem;
		padding: 0.3em;
		outline: none;
		border: 2px solid var(--orange);
		border-radius: 8px;
		font-size: 16px;
	}
}
textarea {
	height: 4rem !important;
}
.c-blur1 {
	top: 1rem;
	left: 8rem;
}

@media screen and (min-width: 2559px) {
	.contact-form {
		transform: scale(1.5);
		margin-top: 3rem;
		width: 100vw;
		padding: 0 50rem 0 50rem;
		margin-left: 12rem;
		margin-bottom: -45rem;
	}

	.c-right {
		margin-right: 70rem;
	}
}

@media screen and (max-width: 768px) {
	.contact-form {
		margin-top: 3rem;
	}
}

@media screen and (max-width: 480px) {
	.contact-form {
		padding: 0;
		flex-direction: column;
		gap: 5rem;
		height: 40rem;
		margin-top: 3rem;
	}
	.c-right {
		.user {
			width: 16rem;
		}
	}
}
