.n-wrapper {
	height: 10vh;
	display: flex;
	justify-content: space-between;
}
.n-left {
	flex: 1;
	align-items: center;
	display: flex;
	gap: 2rem;
}
.n-name {
	font-size: 1.3rem;
	font-weight: bold;
}
.n-right {
	display: flex;
	flex: 1;
	align-items: center;
	justify-content: center;
	font-weight: 400;
}
.n-list {
	>ul {
		display: flex;
		gap: 2rem;
		margin-right: 4rem;
		&:hover {
			cursor: pointer;
			color: var(--orange);
		}
	}
}
.n-button {
	flex: 2;
}

@media screen and (min-width: 2559px) {
	.n-wrapper {
		transform: scale(1.9);
		margin-left: 38rem;
		margin-right: 30rem;
	}
}


@media screen and (max-width: 768px) {
	.n-list {
		transform: scale(.9);
	}
	.n-button {
		display: none;
	}
}

@media screen and (max-width: 480px) {
	.n-list {
		display: none;
	}
	.n-button {
		display: none;
	}
}
