.icons-container {
  display: flex;
  width: 450px;
  margin-top: 50px;
  position: relative;

  img {
    position: absolute;
    z-index: -1;
    width: 100%;
  }
}

@media screen and (max-width: 1090px) {
  
  .icons-container {
    width: 350px;
    margin-bottom: 70px;
    z-index: 1;
  }
}